

header{
    width: 100%;
    background-color: #191919;
    position: fixed; 
    top: 0;
    left: 0;
    height: 71px;
  
  }
  
  .logo{
  width: 187px;
  height: 60px;
  background-color: #000000;
  float: left;
  position: relative;
  }
  
  
  
  #content {
  
    height: 400px;
    width: 400px;
    float: left;
    position: relative;
    z-index: -1;
    margin-top:10%;
    margin-left: 39%;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    webkit-box-shadow: 10px 10px 60px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 10px 10px 60px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 10px 10px 60px 10px rgba(0, 0, 0, 0.2);
    }
    
  
   /*sign in*/
  
  
  
  .form1 {
    text-align:center;
    font-family: 'arial', sans-serif;
    height: 300px;
    background-color: white;
    position: absolute;
    margin-top: 185px;
    margin-left: 50%;
    padding: 10px;
    transform: translate(-50%, -50%);
    width: 380px;
    
  }
  
  h1{
    color:#333333;
    margin-top:30px;
  }
  
  
  
  input {
    width: 100%;
    height: 30px;
    border-width: 0 0 2px 0px;
    border-color: #494848;
    background-color: transparent;
    opacity: 0.4;
    font-size: 16px;
    color: #333333;
    -webkit-transition: border-color 1s ease-out;
    -moz-transition: border-color 1s ease-out;
    -o-transition: border-color 1s ease-out;
    margin-left: 0px;
    margin-top: -10px;
  }
  
  input.password1{
    margin-top:50px;
  
  }
  
  
  input:focus {
    outline: 0;
    opacity: 1;
    border-color: #ffdd00;
  }
  
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #494848;
    font-size: 16px;
    
  }
  
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #494848;
    font-size: 16px;
  }
  
  :-ms-input-placeholder {
    /* IE 10+ */
    color: #494848;
    font-size: 16px;
  }
  
  :-moz-placeholder {
    /* Firefox 18- */
    color: #494848;
    font-size: 16px;
  }
  
  input:focus::-webkit-input-placeholder {
    color: transparent;
  }
  
  input:focus:-moz-placeholder {
    color: transparent;
  }
  
  
  /* FF 4-18 */
  
  input:focus::-moz-placeholder {
    color: transparent;
  }
  
  
  /* FF 19+ */
  
  input:focus:-ms-input-placeholder {
    color: transparent;
  }
  
  button {
    margin-top: 80px;
    height: 50px;
    width: 300px;
    left:30px;
    background-color: #333333;
    position: fixed;
    border: 0;
    border-radius: 10px;
    color: #ffe300;
    font-size: 16px;
    transform-origin: 50% 50%;
  }
  
  button:focus {
    outline: none;
  }
  
  button:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  
  h5{
  
    margin-top: 120px;
    margin-left:145px;
    float:left;
  }
  
  h5 a{
  
   text-decoration: none;
   color: #5b5b5b;
  }
  
  h5 a:hover{
  
    color: #333333;
  }
  
  
